@use "../variables" as *;

.favorite-icon {
  display: inline-flex;

  &__svg-favorite {
    cursor: pointer;
    fill: $color-gray-light;
    height: 40px;
    width: 40px;
    z-index: 20;

    &--added {
      fill: $color-purple-medium;
    }
  }
}
