@use "../variables" as *;

.favorite-icon {
  display: inline-flex;
  &__svg-favorite {
    width: 40px;
    height: 40px;
    fill: $color-gray-light;
    z-index: 20;
    cursor: pointer;

    &--added {
      fill: $color-purple-medium;
    }
  }
}
