@use "../variables" as *;

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: $color-blue-dark;
  position: sticky;
  top: 0;
  margin-bottom: 2rem;
  z-index: 100;

  &__content {
    flex-grow: 1;
    max-width: 118rem;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    padding: 2rem;
    gap: 2rem;
  }

  &__title-container {
    width: 100%;
    display: flex;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
  }

  &__title {
    background: $gradient-purple-gold;
    font-size: 3rem;
    font-weight: bold;
    position: relative;
    text-align: center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__menu {
    display: none;
    gap: 2rem;

    &--is-opened {
      background-color: $color-blue-dark;
      padding: 4rem 2rem;
      width: 100%;
      top: 100%;
      left: 0;
      display: flex;
      align-items: end;
      flex-direction: column;
      position: absolute;
      z-index: 1;
      border-bottom: 2px solid $color-white;
      border-top: 2px solid $color-white;
    }
  }

  &__nav-link-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 1rem;
  }

  &__nav-link {
    position: relative;
    cursor: pointer;
    display: inline-flex;
    text-decoration: none;
    padding: 0.5rem 1rem;

    &--active {
      .header__nav-link-text {
        color: $color-gold;
      }
    }

    &-text {
      position: relative;
      color: $color-white;
      font-size: 2rem;
      font-weight: bold;
      text-transform: uppercase;
      transition: color 300ms;

      &::after {
        content: "";
        position: absolute;
        bottom: -0.5rem;
        left: 0;
        width: 100%;
        height: 3px;
        background-color: $color-gold;
        transform: scaleX(0);
        transition: transform 300ms ease;
      }
    }

    &:hover {
      .header__nav-link-text::after {
        transform: scaleX(1);
      }
    }

    &--active .header__nav-link-text::after {
      transform: scaleX(1);
    }
  }

  &__svg-hamburger-menu {
    display: block;
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    fill: $color-white;
    cursor: pointer;

    &:hover {
      fill: $color-gold;
    }
  }
}

@media (min-width: 400px) {
  .header {
    &__content {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }

    &__title-container {
      width: fit-content;
    }
  }
}

@media (min-width: 700px) {
  .header {
    &__content {
      flex-direction: row;
      justify-content: space-between;
    }
  }
}

@media (min-width: 950px) {
  .header {
    &__menu {
      display: flex;
      flex-direction: row-reverse;
      justify-items: center;
      align-items: center;
      gap: 4rem;
    }

    &__nav-link-list {
      flex-direction: row;
    }

    &__svg-hamburger-menu {
      display: none;
    }
  }
}
 
@media (min-width: 1220px) { // 1180px + (2 * 20px) padding
  .header {
    &__content {
      padding-inline: 0;
    }
  }
}
