@use "../variables" as *;

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: $color-dark-blue;
  position: relative;

  &__content {
    flex-grow: 1;
    max-width: 118rem;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 2rem;
  }

  &__title-container {
    display: flex;
  }

  &__title {
    background: $gradient-purple-gold;
    font-size: 3rem;
    font-weight: bold;
    position: relative;
    text-align: center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__user-action {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 4rem;
    height: 4rem;
  }

  &__menu {
    display: none;
    gap: 2rem;

    &--is-opened {
      border-bottom: 1px solid $color-purple;
      background-color: $color-dark-blue;
      padding: 2rem 2rem 4rem;
      width: 100%;
      top: 100%;
      left: 0;
      display: flex;
      align-items: end;
      flex-direction: column;
      position: absolute;
      z-index: 1;
    }
  }

  &__nav-link {
    position: relative;
    cursor: pointer;
    display: inline-flex;
    text-decoration: none;
    padding: 0.5rem 1rem;

    &--active {
      .header__nav-link-text {
        color: $color-purple;
      }
    }

    &-text {
      position: relative;
      background-color: $color-dark-blue;
      color: $color-white;
      font-size: 2rem;
      font-weight: bold;
      text-transform: uppercase;
      transition: color 300ms;

      &::after {
        content: "";
        position: absolute;
        bottom: -0.5rem;
        left: 0;
        width: 100%;
        height: 3px;
        background-image: linear-gradient(
          144deg,
          #af40ff,
          #5b42f3 50%,
          #00ddeb
        );
        transform: scaleX(0);
        transition: transform 300ms ease;
      }
    }

    &:hover {
      .header__nav-link-text::after {
        transform: scaleX(1);
      }
    }

    &--active .header__nav-link-text::after {
      transform: scaleX(1);
    }
  }

  &__svg-hamburger-menu {
    display: block;
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    fill: $color-purple;
    cursor: pointer;

    &:hover {
      fill: $color-white;
    }
  }
}

// @media (min-width: 400px) {
//   .header {
//     &__content {
//       flex-direction: row;
//     }
//   }
// }

@media (min-width: 700px) {
  .header {
    &__content {
      flex-direction: row;
      justify-content: space-between;
    }
  }
}

@media (min-width: 900px) {
  .header {
    &__user-action {
      flex-direction: row-reverse;
    }

    &__menu {
      display: flex;
      flex-direction: row-reverse;
    }

    &__svg-hamburger-menu {
      display: none;
    }
  }
}
