@use "../variables" as *;

.sub-information {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  margin: 1.5rem 0;
  color: $color-gray-light;

  span:not(:first-child) {
    &::before {
      display: inline-block;
      margin: 0 0.5rem 0.2rem;
      content: "";
      font-size: 1rem;
      line-height: 0.5rem;
      padding: 1px;
      border-radius: 50%;
      vertical-align: middle;
      background-color: currentColor;
    }
  }

  &__media-page-link {
    a {
      color: $color-purple-light;
      text-decoration: none;

      &:visited {
        color: $color-gray-dark;
      }
    }
  }

  &__media-imdb-link {
    a {
      color: $color-gold;
      text-decoration: none;

      &:visited {
        color: $color-gray-dark;
      }
    }
  }
}
