@use "../variables" as *;

.media-list-card {
  height: 100%;
  max-width: 25rem;
  width: 90%;

  &__link {
    background-color: $color-blue-dark;
    border-radius: 6px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0.5rem;
    width: 100%;

    &:hover {
      box-shadow: 0 4px 20px $color-white;
      opacity: 100%;
      transform: scale(1.05);

      .media-list-card__image {
        opacity: 100%;
      }
    }
  }

  &__placeholder {
    background-color: $color-gray-dark;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    height: 100%;
    width: 100%;
  }

  &__image {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    height: 100%;
    object-fit: contain;
    opacity: 80%;
    width: 100%;
  }

  &__information {
    background-color: $color-blue-dark;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 2rem;
    justify-content: space-between;
    padding: 2rem 1rem 1rem;
    position: relative;
  }

  &__information-container {
    display: flex;
    flex-direction: column;
  }

  &__title {
    color: $color-white;
    font-size: 1.8rem;
    line-height: 2.4rem;
    word-break: break-word;
  }

  &__likeness {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: 450px) {
  .media-list-card {
    width: fit-content;
  }
}
