@use "../variables" as *;

.media-detail-card {
  background-color: $color-blue-dark;
  border-radius: 4px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  &__content-container {
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0 auto;
    max-width: 100rem;
    padding: 2rem;
    width: 100%;
  }

  &__title-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__meta-container {
    color: $color-gray-light;
    gap: 0.5rem;

    &--mobile {
      display: flex;
      flex-direction: column;
    }

    &--desktop {
      display: none;
    }
  }

  &__title {
    color: $color-white;
    font-size: 3rem;
    margin-bottom: 0.5rem;
  }

  &__tagline {
    font-size: 1.8rem;
    font-style: italic;
    margin-bottom: 0.5rem;
  }

  &__likeness {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }

  &__image-container {
    display: none;
    height: auto;
    padding: 3rem 0;
    position: relative;

    &--mobile {
      display: flex;
      justify-content: center;
    }

    &--desktop {
      display: none;
    }
  }

  &__placeholder,
  &__image {
    height: 100%;
    max-width: 30rem;
    object-fit: contain;
    width: 100%;
  }

  &__secondary-information-container {
    display: flex;
    flex-direction: column;
  }

  /* NESTED MEDIA-DETAIL-FIELD STYLES AND ITS VARIANTS */
  .media-detail-field {
    align-items: flex-start;
    align-items: start;
    color: $color-white;
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    gap: 1rem;
    padding: 1rem 0;
    position: relative;

    &:not(:last-child) {
      margin-bottom: 2rem;
      &::after {
        background-color: $color-gray-dark; /* Color of the line */
        bottom: -1rem; /* Position it at the bottom of the element */
        content: "";
        display: block;
        height: 1px; /* Height of the line */
        left: 0;
        position: absolute;
        width: 100%; /* Full width of the element */
      }
    }

    &__key {
      font-size: 1.8rem;
    }

    &__value,
    &__children {
      color: $color-gray-light;
      font-size: 1.6rem;
      white-space: pre-wrap;
    }

    &__created-by,
    &__production-companies,
    &__spoken-languages {
      .media-detail-field__children span:not(:first-child) {
        &::before {
          content: ", ";
          margin-right: 0.5rem;
        }
      }
    }
  }
}

@media (min-width: $breakpointMedium) {
  .media-detail-card {
    padding: 5rem 2rem;

    &__content-container {
      display: flex;
      flex-direction: row-reverse;
      gap: 5rem;
    }

    &__content {
      flex-direction: row;
      gap: 5rem;
      max-width: 120rem;
    }

    &__image-container {
      height: 100%;
      padding: 0;
    }

    &__image-container {
      height: 100%;
      padding: 0;

      &--mobile {
        display: none;
      }

      &--desktop {
        display: flex;
      }
    }

    &__image {
      max-width: 30rem;
      min-height: 100%;
      width: auto;
    }

    &__meta-container {
      margin-bottom: 2rem;

      &--mobile {
        display: none;
      }

      &--desktop {
        display: flex;
        flex-direction: column;
      }
    }
  }
}
