@use "../variables" as *;

.media-list {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  padding: 2rem 0;
  width: 100%;

  &__content {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    width: 100%;
  }

  &__no-results {
    color: $color-white;
    display: flex;
    flex-direction: column;
    font-size: 2.2rem;
    font-weight: bold;
    gap: 1rem;
    justify-content: flex-start;
    padding: 5rem 2rem;

    span {
      text-align: center;
    }
  }
}

@media (min-width: 550px) {
  .media-list {
    &__content {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, max-content));
      grid-template-rows: auto;
    }
  }
}

@media (min-width: $breakpointMedium) {
  .media-list {
    &__no-results {
      font-size: 2.8rem;
      justify-content: center;
    }
  }
}
