@use "../variables" as *;

.media-list {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;

  &__content {
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    padding: 2rem 0;
  }

  &__no-results {
    color: $color-white;
    display: flex;
    flex-direction: column;
    font-size: 2.2rem;
    font-weight: bold;
    gap: 1rem;
    justify-content: flex-start;
    padding: 5rem 2rem;

    span {
      text-align: center;
    }
  }
}

@media (min-width: 768px) {
  .media-list {
    &__no-results {
      justify-content: center;
      font-size: 2.8rem;
    }
  }
}
