@use "../variables" as *;

.pagination {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10rem;
  width: 100%;

  &__container {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2rem;
  }

  &__panel {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  &__svg-chevron-left,
  &__svg-chevron-right,
  &__svg-double-chevron-left,
  &__svg-double-chevron-right {
    background-color: $color-blue-dark;
    border-radius: 4px;
    cursor: pointer;
    fill: $color-white;
    height: 35px;
    width: 35px;

    &:hover {
      background-color: $color-white;
      fill: $color-blue-dark;
    }

    &--disabled {
      opacity: 20%;
      pointer-events: none;
    }
  }

  &__svg-chevron-left {
    margin-right: 0.5rem;
  }

  &__svg-chevron-right {
    margin-left: 0.5rem;
  }

  &__svg-double-chevron-left {
    margin-right: 0.5rem;
    width: 50px;
  }

  &__svg-double-chevron-right {
    margin-left: 0.5rem;
    width: 50px;
  }
}

@media (min-width: $breakpointMedium) {
  .pagination {
    &__container {
      flex-direction: column;
      gap: 2rem;
    }
  }
}
