@use "../variables" as *;

.pagination-list {
  display: none;

  &__button {
    appearance: none;
    background-color: $color-blue-dark;
    border-radius: 4px;
    border: none;
    color: $color-white;
    cursor: pointer;
    font-size: 2rem;
    font-weight: bold;
    height: fit-content;
    outline: none;
    padding: 0.5rem 1rem;
    width: fit-content;

    &--first {
      margin-right: 0.5rem;
    }

    &--last {
      margin-left: 0.5rem;
    }

    &:hover {
      background-color: $color-white;
      color: $color-blue-dark;
    }

    &--active {
      color: $color-blue-dark;
      background-color: $color-gold;
      pointer-events: none;
    }
  }
}

@media (min-width: $breakpointMedium) {
  .pagination-list {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-direction: row;
    gap: 0.5rem;
    justify-content: center;
    margin-inline: 2rem;
    padding: 1rem;
  }
}
