@use "../variables" as *;

.rating {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: flex-start;

  &__svg-star {
    fill: $color-gold;
    height: 35px;
    width: 35px;
  }

  &__average {
    color: $color-white;
    font-size: 1.8rem;
  }

  &__maximum {
    color: $color-gray-medium;
    font-size: 1.6rem;
  }

  &__count {
    color: $color-gray-medium;
    font-size: 1.4rem;
  }
}
