@use "../variables" as *;

.search-input {
  align-items: center;
  background-color: $color-white;
  border-radius: 2px;
  display: flex;
  font-size: 2rem;
  height: fit-content;
  justify-content: center;
  width: min-content;
  position: relative;

  &__element {
    border: none;
    font-size: 2rem;
    outline: none;
    padding: 0.5rem 2.5rem 0.5rem 1rem;
    width: 20rem;
    height: 100%;

    &:hover {
      cursor: text;
    }
  }

  &__svg-clear {
    position: absolute;
    display: none;
    height: 15px;
    width: 15px;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;

    &--display {
      display: block;
    }

    &:hover {
      fill: red;
    }
  }

  // &__svg-container {
  //   display: flex;
  //   flex-direction: row;
  //   align-items: center;
  //   justify-content: center;
  //   border-left: 1px solid $color-gray;
  //   padding: 1rem 0.5rem;
  //   height: 35px;
  // }

  // &__svg-search {
  //   fill: $color-gray;
  //   flex-shrink: 0;
  //   height: 20px;
  //   width: 20px;
  //   cursor: pointer;

  //   &:hover {
  //     fill: $color-purple-medium;
  //   }
  // }
}
