@use "../variables" as *;

.search-input {
  align-items: center;
  background-color: $color-white;
  border-radius: 2px;
  display: flex;
  font-size: 2rem;
  height: fit-content;
  justify-content: center;
  width: min-content;
  position: relative;

  &__element {
    border: none;
    font-size: 2rem;
    outline: none;
    padding: 0.5rem 2.5rem 0.5rem 1rem;
    width: 20rem;
    height: 100%;

    &:hover {
      cursor: text;
    }
  }

  &__svg-clear {
    position: absolute;
    display: none;
    height: 15px;
    width: 15px;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;

    &--display {
      display: block;
    }

    &:hover {
      fill: red;
    }
  }
}
