@use "../variables" as *;

.spinning-loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  padding: 5rem 2rem;

  &__text {
    font-size: 2.2rem;
    font-weight: bold;
  }

  &__circle {
    border: 16px solid $color-loader-circle;
    border-radius: 50%;
    border-top: 16px solid $color-loader-sector;
    width: 80px;
    height: 80px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (min-width: 768px) {
  .spinning-loader {
    &__text {
      font-size: 2.8rem;
    }

    &__circle {
      width: 100px;
      height: 100px;
    }
  }
}
