@use "./variables" as *;

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 2rem;
  gap: 2rem;

  .neon-text {
    background: -webkit-linear-gradient(
      0deg,
      $color-purple 20%,
      $color-gold 80%
    );
    font-size: 6rem;
    font-weight: bold;
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;

    &::after {
      content: "Movies";
      position: absolute;
      background-image: -webkit-linear-gradient(
        0deg,
        $color-purple 20%,
        $color-gold 80%
      );
      left: 0;
      right: 0;
      filter: blur(2px);
      background-clip: text;
    }
  }
}
