@use "./variables" as *;

.media-detail-card {
  background-color: $color-dark-blue;
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: 4px;

  &__content {
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    max-width: 70rem;
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }

  &__title {
    background-color: red;
  }

  &__image-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
  }

  &__placeholder,
  &__image {
    height: 100%;
    width: 100%;
    max-width: 40rem;
    object-fit: contain;
  }

  &__information {
    display: flex;
    flex-direction: column;
  }

  /* NESTED MEDIA-DETAIL-FIELD STYLES AND ITS VARIANTS */
  .media-detail-field {
    display: flex;
    flex-direction: row;
    font-size: 2rem;
    color: $color-white;
    gap: 2rem;
    justify-content: flex-start;
    align-items: center;
    padding: 2rem 0;

    &:not(:last-child) {
      border-bottom: 1px solid $color-gray;
    }

    &__value {
      white-space: pre-wrap;
    }

    &__title {
      font-size: 3rem;
    }

    &__overview {
      display: flex;
      flex-direction: column;
      align-items: start;
    }
  }
}
