@use "./variables" as *;

.media-list-card {
  &__link {
    background-color: $color-dark-blue;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    text-decoration: none;
    width: fit-content;
    max-width: 21rem;
    height: 100%;

    &:hover {
      box-shadow: 0 4px 20px $color-white;
      opacity: 100%;
      transform: scale(1.05);

      .media-list-card__image {
        opacity: 100%;
      }
    }
  }

  &__placeholder {
    background-color: gray;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    height: 100%;
    width: 100%;
  }

  &__image {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    height: 100%;
    width: 100%;
    object-fit: contain;
    opacity: 80%;
  }

  &__information {
    background-color: $color-dark-blue;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
    padding: 2rem 1rem 1rem;
    gap: 2rem;
  }

  &__details {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  &__title,
  &__release-date,
  &__type {
    color: $color-white;
    width: 100%;
  }

  &__title {
    font-size: 1.8rem;
    line-height: 2.4rem;
    word-break: break-word;
  }

  &__release-date,
  &__type {
    font-size: 1.4rem;
  }
}
