@use "./variables" as *;

.media-detail-card {
  background-color: $color-dark-blue;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  max-width: 70rem;
  height: 100%;
  margin: 0 auto;

  &__image-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
  }

  &__placeholder,
  &__image {
    height: 100%;
    width: 100%;
    max-width: 780rem;
    object-fit: contain;
  }
}
