@use "./variables" as *;

.media-detail-card {
    background-color: $color-dark-blue;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    max-width: 600px;
    margin: 0 auto;

  &__image-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
  }

  &__placeholder {
    background-color: gray;
  }

  &__image {
    border-radius: 5px;
    object-fit: contain;
    max-width: 500px;
    height: auto;
  }
}
