@use "sass:color";

.search-input {
  &__element {
    border: none;
    background-color: rgb(255, 255, 255);
    width: 5rem;
    height: 1rem;
    font-size: 1rem;
    line-height: 2.2rem;
    padding: 0.5rem;

    &:active,
    &:focus {
      outline: 1px solid rgb(0, 0, 0);
    }

    &--disabled {
      pointer-events: none;
      background-color: color.scale(pink, $lightness: -5%);

      &:active,
      &:focus {
        outline: none;
      }
    }
  }
}

/*
  
  @media (min-width: $breakpointLarge) {
    .form-input {
      &__label {
        font-size: 2rem ;
        line-height: 2.4rem;
      }
  
      &__element {
        font-size: 2rem;
      }
    }
  }

  */
