@use "./variables" as *;
@use "sass:color";

.search-input {
  margin-top: 2rem;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  background-color: $color-white;
  border-radius: 2px;
  height: fit-content;
  font-size: 2rem;
  overflow: hidden;

  &:active,
  &:focus-within {
    outline: 2px solid $color-purple;

    svg {
      fill: $color-purple;
    }
  }

  &__element {
    border: none;
    outline: none;
    font-size: 16px;
    padding: 0.5rem 1rem;
    width: 15rem;

    &:hover {
      cursor: text;
    }
  }

  &__svg {
    width: 25px;
    height: 25px;
    flex-shrink: 0;
    fill: $color-search-svg;
  }
}
