/* ----------------------------------------------------------------------- SCREEN SIZES */
$breakpointExtraSmall: 400px; // used
// $breakpointMediumSmall: 500px;
// $breakpointSmall: 600px;
$breakpointMedium: 768px; // used
// $breakpointLarge: 1024px;
$breakpointExtraLarge: 1180px; // used
// $breakpointXLLarge: 1300px;
// $breakpointXXLarge: 1400px;

/* ----------------------------------------------------------------------------- COLORS */
$color-gold: #ffb700;
$color-purple-light: #b443ff;
$color-purple-medium: #9900ff;
$color-purple-dark: rgba(29, 0, 66, 1);
$color-white: #fff;
$color-loader-circle: #f3f3f3;
$color-loader-sector: $color-purple-medium;
$color-gray-light: #d3d3d3;
$color-gray-medium: #9c9c9c;
$color-gray-dark: #666;
$color-blue-petrol: #055b7a;
$color-blue-dark: #05062d;
$gradient-purple-gold: -webkit-linear-gradient(
  0deg,
  $color-purple-medium 20%,
  $color-gold 80%
);
$gradient-purple-blue: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
