$color-gold: #ffb700;
$color-purple: #9900ff;
$color-white: #fff;
$color-light-gray: #d3d3d3;
$color-medium-gray: #9c9c9c;
$color-dark-gray: #666;
$color-dark-blue: #05062d;
$gradient-purple-gold: -webkit-linear-gradient(
  0deg,
  $color-purple 20%,
  $color-gold 80%
);
$gradient-purple-blue: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
