.movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.movie-list_item {
  width: fit-content;
  height: auto;
  object-fit: contain;
  position: relative;

  & img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    opacity: 80%;
    max-width: 200px;
  }

  & img:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    opacity: 100%;
  }
}
